.todo

# network configrations
artifacts/channel/crypto-config/
artifacts/channel/*.tx
artifacts/channel/*.block
artifacts/channel/create-ca/fabric-ca
channel-artifacts/

# archives
*.tar.gz

# logs
log.txt
ports.txt
